<div class="appointments-container">
  <div class="appointment-card" *ngFor="let appointment of dataArray">
    <div class="appointment-header">
      <span>{{ appointment.hopital_name }}</span>
      <span class="appointment-dueDate header-info">{{
        appointment.rdv_datetime | date : "medium"
        }}</span>
      <span class="appointment-status header-info" [ngClass]="getStatusClassName(appointment.rdv_confirmed)">
        {{ getStatus(appointment.rdv_confirmed) }}</span>
    </div>
    <div class="appointment-body">
      <div>
        <span class="appointment-paid">
          <span class="material-symbols-outlined" style="font-size: 48px;"> calendar_month </span>
          <span>Advanced Payments:</span>
          <span>{{ appointment.rdv_paid | currency }}</span>
        </span>
      </div>
      <span>Hotel: <a class="hopitalName">{{ appointment.rdv_nomhotel }}</a></span>
    </div>
    <div class="appointment-action">
      <button class="greyed-btn">Payment</button>
      <button class="greyed-btn">Cancel</button>
    </div>
    <div class="appointment-action">
      <button  [ngClass]="getConfirmClass(appointment.rdv_confirmed)" >Confirm or cancel it</button>
    </div>
  </div>
</div>