<div class="container">
    <form #f="ngForm" (ngSubmit)="add(f)">
        <!-- hotel_name validation start here -->
        <div class="form-group">
            <label for="hotel_name">Hotel Name</label>
            <input type="text" class="form-control" placeholder="hotel_name" required name="hotel_name" #hotel_name="ngModel" ngModel minlength="2" maxlength="20">
        </div>
        <div class="alert alert-danger" *ngIf="hotel_name.errors?.['required'] && hotel_name.touched">
            Hotel Name is required
        </div>
        <div class="alert alert-danger" *ngIf="hotel_name.errors?.['minlength'] && hotel_name.touched">
            Hotel Name must be at least 2 characters
        </div>
        <!-- hotel_name validation end here -->

        <!-- hotel_stars validation start here -->
        <div class="form-group">
            <label for="hotel_stars">Hotel Stars</label>
            <input type="number" class="form-control" placeholder="hotel_stars" required name="hotel_stars" #hotel_stars="ngModel" ngModel min="1" max="5">
        </div>
        <div class="alert alert-danger" *ngIf="hotel_stars.errors?.['required'] && hotel_stars.touched">
            Hotel Stars is required
        </div>
        <div class="alert alert-danger" *ngIf="hotel_stars.errors?.['min'] && hotel_stars.touched">
            Hotel Stars must be at least 1
        </div>
        <div class="alert alert-danger" *ngIf="hotel_stars.errors?.['max'] && hotel_stars.touched">
            Hotel Stars must be at most 5
        </div>
        <!-- hotel_stars validation end here -->

        <!-- hotel_singleroom validation start here -->
        <div class="form-group">
            <label for="hotel_singleroom">Single Rooms</label>
            <input type="number" class="form-control" placeholder="hotel_singleroom" required name="hotel_singleroom" #hotel_singleroom="ngModel" ngModel min="1">
        </div>
        <div class="alert alert-danger" *ngIf="hotel_singleroom.errors?.['required'] && hotel_singleroom.touched">
            Single Rooms are required
        </div>
        <div class="alert alert-danger" *ngIf="hotel_singleroom.errors?.['min'] && hotel_singleroom.touched">
            Single Rooms must be at least 1
        </div>
        <!-- hotel_singleroom validation end here -->

        <!-- hotel_doubleroom validation start here -->
        <div class="form-group">
            <label for="hotel_doubleroom">Double Rooms</label>
            <input type="number" class="form-control" placeholder="hotel_doubleroom" required name="hotel_doubleroom" #hotel_doubleroom="ngModel" ngModel min="1">
        </div>
        <div class="alert alert-danger" *ngIf="hotel_doubleroom.errors?.['required'] && hotel_doubleroom.touched">
            Double Rooms are required
        </div>
        <div class="alert alert-danger" *ngIf="hotel_doubleroom.errors?.['min'] && hotel_doubleroom.touched">
            Double Rooms must be at least 1
        </div>
        <!-- hotel_doubleroom validation end here -->

        <!-- hotel_address validation start here -->
        <div class="form-group">
            <label for="hotel_address">Hotel Address</label>
            <input type="text" class="form-control" placeholder="hotel_address" required name="hotel_address" #hotel_address="ngModel" ngModel>
        </div>
        <div class="alert alert-danger" *ngIf="hotel_address.errors?.['required'] && hotel_address.touched">
            Hotel Address is required
        </div>
        <!-- hotel_address validation end here -->

        <!-- hotel_link validation start here -->
        <div class="form-group">
            <label for="hotel_link">Hotel Link</label>
            <input type="text" class="form-control" placeholder="hotel_link" required name="hotel_link" #hotel_link="ngModel" ngModel>
        </div>
        <div class="alert alert-danger" *ngIf="hotel_link.errors?.['required'] && hotel_link.touched">
            Hotel Link is required
        </div>
        <!-- hotel_link validation end here -->

        <button class="btn btn-primary" [disabled]="f.invalid">Add Hotel</button>
    </form>
</div>

<!-- Ajout de la bibliothèque FontAwesome -->
<link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/5.15.4/css/all.min.css">
